body{
	background-color:#EDD9A3;
}
h1{
	color:red;
	font-size:70px;
	text-align:left;
}
title{
	color:red;
	font-size:70px;
}
h2{
	color:green;
	font-size:35px;
}
ul{
	color:#C08552;
	font-size:30px;
}
ol{
	color:#C08552;
	font-size:30px;
}
#justin{
	border-style:solid;
	border-color:#FF0000;
}
#tran{
	border-style: solid;
	border-color:#FF0000;
	justify-content: center
}